/* * {
  border: solid black 2px;
} */

body {
  background-color: #ecdeca;
}

.hero-section {
  display: flex;

}

h1 {
  font-size: 60px;
  margin-top: 45%;
}

.app-name-bottom {
  font-size: 20px;
  padding-top: 0;
  padding-left: 10%;
}

.app-name-top {
  font-size: 20px;
  padding-left: 10%;
  margin-top: 10%;
}

.big-t {
  font-size: 60px;
}

.app-name-container {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
}